<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-dove"></i> Social Altriusm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile', user_path(current_user.resource_id), class: "dropdown-item" %>
            <%= link_to 'Edit Profile', edit_user_path(current_user.resource_id), class: 'dropdown-item' %>
            <%= link_to 'View Nonprofits', organizations_path, class: 'dropdown-item' %>
            <%= link_to 'Leaderboard', leaderboard_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', auth_logout_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= button_to 'Login', '/auth/auth0', class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
