<br>
<div class="card">
  <div class='row banner'>
    <div class='col-md-12'>
      <h1><i class="fas fa-hand-holding-usd"></i> Make a donation</h1>
    </div>
  </div>
  <div class="card-body">
    <form action="/donations" method="POST" id="payment-form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="donation[pledgeling_organization_id]" value="<%= @donation.pledgeling_organization_id %>">
      <div class='row'>
        <div class='col-md-6'>
          <label for='pledgeling_organization_name'>
            Organization
          </label>
          <input type="" disabled value="<%= @donation.pledgeling_organization_name %>" id='pledgeling_organization_name' class='form-control'>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label for='amount'>Amount</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="amount" name='donation[amount]' step='.01' required>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label for='card_number'>Card Number</label>
            <input  type="string"
                    name="donation[card][number]"
                    id='card_number'
                    class='form-control'
                    oninput="javascript: if (this.value.length > 16) this.value = this.value.slice(0, 16);"
                    required
            >
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label for='card_cvc'>CVC</label>
            <input  type="number"
                    name="donation[card][cvc]"
                    id='card_cvc'
                    class='form-control'
                    oninput="javascript: if (this.value.length > 4) this.value = this.value.slice(0, 4);"
                    required
            >
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label for='card_month'>Expiration Month</label>
            <select name="donation[card][exp_month]" id='card_month' class='form-control'>
              <% (1..12).each do |i| %>
                <option><%= i %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label for='card_year'>Expiration Year</label>
            <select name="donation[card][exp_year]" id='card_month' class='form-control'>
              <% (2020..2030).each do |i| %>
                <option><%= i %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label></label>
            <button class='form-control btn btn-primary' id='donate'>Donate to <%= @donation.pledgeling_organization_name %>!</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
