<div class='card'>
  <div class='row banner'>
    <div class='col-md-12'>
      <h1><i class="fas fa-hand-sparkles"></i>
        <%= current_user ? "Welcome, #{current_user.nickname}" : 'Welcome' %></h1>
    </div>
  </div>
  <div class='card-body'>
    <% if current_user %>
      <div class='row'>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-building fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= organizations_path %>">Discover Nonprofits</a></h5>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-medal fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= leaderboard_path %>">View Leaderboard</a></h5>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-user-astronaut fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= user_path(current_user.resource_id) %>">My Profile</a></h5>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class='row'>
        <div class='col-md-12'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-rocket fa-4x"></i>
            <div class="card-body">
              <h5>Total Donations: <%= @stats[:donation_number] %></h5>
              <h5>Total Amount Donated: <%= MoneyHelper.format_amount(@stats[:sum_donations]) %></h5>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-info-circle fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title">Where am I?</h5>
              <a href="<%= about_path %>" class="btn btn-primary">Find out.</a>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-hand-holding-heart fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title">Where's the "altruism"?</h5>
              <a href="<%= organizations_path %>" class="btn btn-primary">Discover nonprofits.</a>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-medal fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title">Where's the "social"?</h5>
              <a href="<%= leaderboard_path %>" class="btn btn-primary">Start here.</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
