<div class='card'>
  <div class='row banner'>
    <div class='col-md-12'>
      <h1><i class="fas fa-hand-sparkles"></i>
        <%= current_user ? "Welcome, #{current_user.nickname}" : 'Welcome' %></h1>
    </div>
  </div>
  <div class='card-body'>
    <% if current_user %>
      <br>
      <div class='row'>
        <div class='col-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-building fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= organizations_path %>">Discover Organizations</a></h5>
            </div>
          </div>
        </div>
        <div class='col-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-medal fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= leaderboard_path %>">View Leaderboard</a></h5>
            </div>
          </div>
        </div>
        <div class='col-4'>
          <div class="card" style='text-align: center;'>
            <br>
            <i class="fas fa-user-astronaut fa-4x"></i>
            <div class="card-body">
              <h5 class="card-title"><a href="<%= user_path(current_user.resource_id) %>">My Profile</a></h5>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class='row'>
        <div class='col-md-12'>
          <h3>Total Donations: <%= @stats[:donation_number] %></h3>
          <h3>Total Amount Donated: <%= MoneyHelper.format_amount(@stats[:sum_donations]) %></h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <p>If you want to participate, click the Login button.</p>
          <p>See which organizations are available to donate to by clicking <%= link_to 'here', organizations_path %></p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= link_to 'About', about_path %>
        </div>
      </div>
  <% end %>
  </div>
</div>
