<div class='card'>
  <div class='row banner'>
    <div class='col-md-6'>
      <h1><i class="fas fa-building"></i> Organizations</h1>
    </div>
    <div class='col-md-6'>
      <form action='/organizations' method='get' class="form-inline float-right">
        <div class='form-group'>
          <input type="text" name="query" class='form-control' value="<%= params[:query] %>">
          <button class='btn btn-primary' style='margin-left: 10px;'>Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-12' style='text-align: center;'>
        <div class='text-muted'><%= @organizations ? number_to_human(@organizations.dig('total_count')) : 0 %> Results</div>
        <br>
        <% if @page > 2 %>
          <%= link_to '<<', organizations_path(@params.merge(page: 1)) %>
        <% end %>
        <% if @page > 1 %>
          <%= link_to "< #{@page - 1}", organizations_path(@params.merge(page: @page - 1)) %>
        <% end %>
        <% if @page > 1 && @organizations && @organizations.dig('total_count') > @page * @organizations.dig('per') %><span>...</span><% end %>
        <% if @organizations && @organizations.dig('total_count') > @page * @organizations.dig('per') %>
          <%= link_to "#{@page + 1} >", organizations_path(@params.merge(page: @page + 1)) %>
        <% end %>
      </div>
    </div>
    <div id='organizations'>
      <% if @organizations %>
        <% @organizations.dig('results').each do |organization| %>
          <div class='organization row'>
            <div class='image col-md-4' style='background-image: url(<%= organization['logo_url'] %>);'></div>
            <div class='col-md-8'>
              <h3><%= organization['name'].titlecase %></h3>
              <p><%= organization['mission']&.truncate(300)&.humanize %></p>
              <p><%= link_to 'Website', organization['website_url'], target: '_blank' %></p>
              <p><%= link_to 'Donate', new_donation_path(organization_id: organization['id']) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='row'>
      <div class='col-md-12' style='text-align: center;'>
        <% if @page > 2 %>
          <%= link_to '<<', organizations_path(@params.merge(page: 1)) %>
        <% end %>
        <% if @page > 1 %>
          <%= link_to "< #{@page - 1}", organizations_path(@params.merge(page: @page - 1)) %>
        <% end %>
        <% if @page > 1 && @organizations && @organizations.dig('total_count') > @page * @organizations.dig('per') %><span>...</span><% end %>
        <% if @organizations && @organizations.dig('total_count') > @page * @organizations.dig('per') %>
          <%= link_to "#{@page + 1} >", organizations_path(@params.merge(page: @page + 1)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
